@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;300;400;500;600;700&display=swap');

:root {
    --primary: #118c4f;
    --background:#f5f8ff;
}

.primary {
    color: var(--primary);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    color: #333;
    text-decoration: none;
}
.container {
    max-width: 1240px;
    margin: auto;
}
h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}
h2 {
    font-size: 2.4rem;
    line-height: 1.2;
}
h5 {
    font-size: 1.1rem;
    line-height: 1.2;
}
p {
    font-size: 1.2rem;
}
.btn {
    padding: 14px 32px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
    border-radius: 24px 4px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
   box-shadow: rgb(0 0 0 / 15%) 0 8px 24px;
}
input {
    padding: 12px 32px;
    border: 1px solid var(--primary);
    background-color: transparent;
    border-radius: 24px 4px;
    font-size: 1rem;
    margin-right: .8rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px){

    h1 {
        font-size: 2.1rem;
        line-height: 1.2;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    h5 {
        font-size: 1.1rem;
        line-height: 1.2;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        width: 100%;
        margin: 1rem 0;
    }
    input {
        width: 100%;
    }
}

